# Supabase
VITE_SUPABASE_URL=https://zvxocyqjevjseqcqklhg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_nB9pqGNw96odZ-FqGRlefg_0MGR6OPK

# FedaPay
FEDAPAY_PUBLIC_KEY=pk_sandbox_5OnNHVYU_bEh8gKO4RpLXF2F
FEDAPAY_SECRET_KEY=sk_sandbox_vCT3wIOVyQIOcUrbm1XzP5WV
FEDAPAY_ENVIRONMENT=sandbox

# Optional app settings
VITE_APP_NAME=CV SaaS

